<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>刘先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>刘先生-客服头像7.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>周先生-客服头像3.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>姚先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>姚先生-客服头像8.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>张先生-客服头像10.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>张先生-客服头像9.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>潘小姐</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>潘小姐-客服头像5.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>胡先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>胡先生-客服头像4.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>莫先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>莫先生-客服头像13.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>郑先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>郑先生-客服头像2.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈小姐</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>陈小姐-客服头像11.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈小姐</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>陈小姐-客服头像12.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄先生</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>黄先生-客服头像6.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄小姐</string>
		<key>phoneNum</key>
		<string>13514585794</string>
		<key>image</key>
		<string>黄小姐-客服头像1.png</string>
	</dict>
</array>
</plist>
