<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<integer>0</integer>
	<key>result</key>
	<array>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>name</key>
			<string>单位测试</string>
			<key>image</key>
			<string> http://www.tea.com/uploads/zone_14065406138815.jpg</string>
			<key>add_time</key>
			<string>2014-07-28 17:43:34</string>
			<key>update_time</key>
			<string>2014-08-29 12：37：12</string>
			<key>goods_list</key>
			<array>
				<dict>
					<key>id</key>
					<string>767</string>
					<key>name</key>
					<string>普洱</string>
					<key>price</key>
					<string>12.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>10</string>
				</dict>
				<dict>
					<key>id</key>
					<string>768</string>
					<key>name</key>
					<string>铁观音</string>
					<key>price</key>
					<string>15.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>20</string>
				</dict>
				<dict>
					<key>id</key>
					<string>769</string>
					<key>name</key>
					<string>龙井</string>
					<key>price</key>
					<string>18.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>15</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>name</key>
			<string>单位测试</string>
			<key>image</key>
			<string> http://www.tea.com/uploads/zone_14065406138815.jpg</string>
			<key>add_time</key>
			<string>2014-07-28 17:43:34</string>
			<key>update_time</key>
			<string>2014-08-29 12：37：12</string>
			<key>goods_list</key>
			<array>
				<dict>
					<key>id</key>
					<string>767</string>
					<key>name</key>
					<string>普洱</string>
					<key>price</key>
					<string>12.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>10</string>
				</dict>
				<dict>
					<key>id</key>
					<string>768</string>
					<key>name</key>
					<string>铁观音</string>
					<key>price</key>
					<string>15.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>20</string>
				</dict>
				<dict>
					<key>id</key>
					<string>769</string>
					<key>name</key>
					<string>龙井</string>
					<key>price</key>
					<string>18.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>15</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>name</key>
			<string>单位测试</string>
			<key>image</key>
			<string> http://www.tea.com/uploads/zone_14065406138815.jpg</string>
			<key>add_time</key>
			<string>2014-07-28 17:43:34</string>
			<key>update_time</key>
			<string>2014-08-29 12：37：12</string>
			<key>goods_list</key>
			<array>
				<dict>
					<key>id</key>
					<string>767</string>
					<key>name</key>
					<string>普洱</string>
					<key>price</key>
					<string>12.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>10</string>
				</dict>
				<dict>
					<key>id</key>
					<string>768</string>
					<key>name</key>
					<string>铁观音</string>
					<key>price</key>
					<string>15.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>20</string>
				</dict>
				<dict>
					<key>id</key>
					<string>769</string>
					<key>name</key>
					<string>龙井</string>
					<key>price</key>
					<string>18.0</string>
					<key>unit</key>
					<string>桶</string>
					<key>weight</key>
					<string>15</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
